# Telegram Bot Token (получить у @BotFather)
TELEGRAM_TOKEN=8219806591:AAHfQIwwwlO2BsGwLAV9THXYXZ8NL6t7hDs

# Yandex Cloud
YANDEX_API_KEY=AQVN3tmE96Njgdb-HckhvA2-mK1cjYyMstQglwSb
YANDEX_FOLDER_ID=b1g95v8hu0f52k8pkail

# Настройки бота
MAX_HISTORY_DAYS=30
MAX_CONTEXT_MESSAGES=10
